h1 {
    font-family: Helvetica;
    
    

}

p {
    font-family: Helvetica;

}

body {
    background-color: rgb(129, 113, 153);
    
}

img {
    border-radius: 10px;

}

li {
    background-color: rgb(205, 253, 255);


}
.cabecalho {
    background-color:rgb(205, 253, 255)




}